body{
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.form_canvas{

/* height: 400px;
width: 400px; */
display: grid;
place-items: center;
}

.grid_container{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 15px;
}
.grid_item{
 
}
.text_area{
    /* grid-column: 1/4;
    min-width: 100%; */
}

.form_item{
    border:none;
    border-bottom: solid;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    min-width: 400px;
    min-height: 20px;
    padding:12px 20px;
}
.form_item:hover{
    border-color:dodgerblue
}
.form_item#datepicker{
    cursor:pointer;
}


input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border-color: #f12711;
}
#heading{
color:white;
font-size: 2em;
}

input[disabled="disabled"]{
    opacity: 0.6;
    cursor: not-allowed !important;
}
.buttons_canvas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width:100%
}
.button_items.submit{
    border: dodgerblue solid 2px;
    border-radius: 10px;
    width:7em;
    height: 3em;
    grid-column: 2/2;
    cursor: pointer;
}
.cancel{
    border: red solid 2px;
    opacity: 0.6;
    border-radius: 10px;
    width:7em;
    height: 3em;
    grid-column: 3/3;
    cursor: pointer;
}
.cancel:hover{
    opacity:1;
    background-color:#ff100b;
}