@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Source+Sans+Pro:wght@300;700&display=swap');
body{
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}



.form_canvas{
display: grid;
place-items: center;
margin:auto;
padding: 20px;
}

.grid_container{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 15px;
}

textarea { resize: vertical; }

.form_item{
    border-radius: 8px;
    border-style: solid;
    min-width: 400px;
    min-height: 20px;
    padding:12px 20px;
    border: none;
    border-bottom: 3px solid yellowgreen;
}
.form_item:hover{
    border-color:dodgerblue;
}
.form_item#datepicker{
    cursor:pointer;
}


input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border-color: #f12711;
}
#heading{
color:#FF5733;
font-size: 2em;
margin-bottom: 1em;
font-size:xx-large;
font-style:bold;
margin-top: 20px;
}

input[disabled="disabled"]{
    opacity: 0.6;
    cursor: not-allowed !important;
}
.buttons_canvas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width:100%
}
.submit{
    border: dodgerblue solid 2px;
    border-radius: 10px;
    width:7em;
    height: 3em;
    grid-column: 2/2;
    cursor: pointer;
    background-color: dodgerblue;
    border-radius: 2px;
    color:white;
    padding: 4px;
}
.cancel{
    border: red solid 2px;
    opacity: 0.6;
    border-radius: 10px;
    width:7em;
    height: 3em;
    grid-column: 3/3;
    cursor: pointer;
    background-color: #ff100b;
    border-radius: 2px;
    color:white;
    padding: 4px;
    text-align: center;

}
.cancel:hover{
    opacity:1;
    background-color:#ff100b;
}
.selectlist{
    cursor:pointer;
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: grey;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: grey;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #container{
      display: grid;
       min-width: 400px;
       min-height: 300px;
       place-items: center;
       
  }
#headingDetails{
    color:#FF5733;
font-size: 2em;
margin-bottom: 1em;
margin-left: 1em;

}
  
  .list_item{
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    font-weight: 300;
  }
  .grid_item_button{
    border: dodgerblue solid 2px;
    border-radius: 10px;
    width:7em;
    height: 3em;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    margin-left: 3em;
    
}
.label{

}
.form_error{
    color: red;
    display: block; 
    text-align:center;
    font-size: medium;
    position: relative;
    top:-16px;
    margin-bottom: -10px
}
.input_item{
    display: inline;
}
.card_container{
    margin-left: 10vw;
    margin-top: 5vh;
}
.card_item{
    margin-top:10px;margin-left: 1em;
}
img{
    margin-top: 10px;
    border-radius: 4px;
}
#show_more{
    color: grey;
}
#show_more:hover{
    color:black;
    cursor: pointer;
}