<div style="margin-top:20px" class="text-center">
<div class="container">
    <div class="row row-cols-auto gap-4 justify-content-center" >
      
    <div class="card col-3 card_item" ng-repeat="i in details | filter: searchFunction" ng-controller="userDetailsController">
        <img src="https://picsum.photos/400" class="card-img-top;" alt="random_pic" >
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
        <div>
          <div class="card-text" style="display: inline;">
            <span ng-if="!isShowMore">
               <small style="display: block;"><strong>Full Name: </strong>{{i.description.fullname}}</small>
               <small style="display: block;"><strong>Employee Id: </strong>{{i.description.emp_id}}</small>
               <small style="display: block;"><strong>Date Of Joining: </strong>{{i.description.dateofjoining}}</small>
               <small style="display: block;"><strong>Contact number: </strong>{{i.description.contact_number}}</small>
            </span>
            <span ng-if="isShowMore">
              <small style="display: block;"><strong>Full Name: </strong>{{i.description.fullname}}</small>
              <small style="display: block;"><strong>Employee Id: </strong>{{i.description.emp_id}}</small>
              <small style="display: block;"><strong>Date Of Joining: </strong>{{i.description.dateofjoining}}</small>
              <small style="display: block;"><strong>Contact number: </strong>{{i.description.contact_number}}</small>
              <small style="display: block;"><strong>Email: </strong>{{i.description.email}}</small>
              <small style="display: block;"><strong>Experience in yrs: </strong>{{i.description.experience}}</small>
              <small style="display: block;"><strong>City: </strong>{{i.description.city}}</small>
              <small style="display: block;"><strong>Hobbies: </strong>{{i.description.hobbies}}</small>
            </span>
          </div>
          <span id="show_more" ng-show="!isShowMore" style="display: inline;" ng-click="toggleShowMore()">....show more</span>
          <span id="show_more" ng-show="isShowMore" style="display: inline;" ng-click="toggleShowMore()">....show less</span>
        </div>
          <!-- <button class="btn btn-success" ng-click="getInfo()"><i class="material-icons">info</i> Show More</button> -->
          <button class="btn btn-primary mt-4" ng-click="redirectUser()"><i class="material-icons">add</i> Add User</button>
        </div>
    </div>
    
    </div>

    
    
</div>

</div>